<div class="footer-wrapper">
    <div class="footer">
        <div class="container">
            <div class="footer-left">
                <p>
                    &copy; {{ 'now'|date('Y') }} {{ 'All rights reserved.'|trans }} {{ 'Created by'|trans }} <a href="http://tineo.mobi">@itsudatte</a>.
                </p>
            </div><!-- /.footer-left-->

            <div class="footer-right">
                <ul>
                    <li>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                    </li>

                    <li>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                    </li>

                    <li>
                        <a href="#"><i class="fa fa-google"></i></a>
                    </li>
                </ul>
            </div><!-- /.footer-right -->
        </div><!-- /.container -->
    </div><!-- /.footer -->
</div><!-- /.footer-wrapper -->