<div class="page-title {% if class is defined %}{{ class }}{% endif %}">    
    {% if title is defined %}
        <h2>{{ title }}</h2>
    {% endif %}

    {% if description is defined %}
        <p>{{ description }}</p>
    {% endif %}
</div><!-- /.page-title -->