<div class="stat {% if class is defined %}{{ class }}{% endif %}">
    <div class="stat-key">Active Users</div><!-- /.stat-key -->
    <div class="stat-value">8645</div><!-- /.stat-value -->
    <div class="stat-icon"><i class="fa fa-users"></i></div>
</div><!-- /.stat -->