{% extends 'FrontBundle::Layout/base.html.twig' %}

{% set title = 'Update Listing'|trans %}

{% block title %}{{ title }}{% endblock %}

{% block content %}	
	<div class="container">
		{% include 'FrontBundle::Helper/content_title.html.twig' %}
		
		{{ form_start(form) }}
		{{ form_widget(form) }}
		{{ form_end(form) }}
	</div><!-- /.container -->
{% endblock %}