$color-primary: #ff1d47;

$color-black: #212121;
$color-black-dark: #131313;
$color-gray: #F0F0F0;

$color-red: #EE5342;
$color-green: #32B67A;
$color-blue: #0f8be3;
$color-orange: #F78F1E;

$font-primary: 'Muli', Arial, sans-serif;
$font-secondary: 'Muli', serif;