{% extends "FrontBundle::Layout/base.html.twig" %}

{% set title = 'Change Password'|trans %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
	<div class="container">
		{% include 'FrontBundle::Helper/content_title.html.twig' %}

    	{% include "FOSUserBundle:ChangePassword:change_password_content.html.twig" %}
    </div><!-- /.container -->
{% endblock %}
