<div class="listing-single-image-wrapper" style="background-image: url('{{ vich_uploader_asset(listing.getFeaturedImage(), 'image') }}');">
	<div class="listing-single-image">
		{% include 'FrontBundle::Listing/Header/content.html.twig' %}
	</div><!-- /.listing-single-image -->
</div><!-- /.listing-single-mage-wrapper -->