{% extends 'FrontBundle::Layout/base.html.twig' %}

{% set title = 'Locations'|trans %}
	
{% block title %}
	{{ title }}
{% endblock %}

{% block content %}
	<div class="container">
		{% include 'FrontBundle::Helper/content_title.html.twig' %}		

		<div class="content">
			<div class="row">
				{% if locations|length %}
					{% for location in locations %}
						<div class="col-md-4">
							<a href="{{ path('location_detail', {'slug': location.getSlug()})}}">
								{{ location.getName() }}
							</a>
						</div><!-- /.col-* -->
					{% endfor %}

		            <div class="navigation">
		                {{ knp_pagination_render(locations) }}
		            </div><!-- /.navigation -->					
				{% else %}
					{% include 'AppBundle::Helper/empty.html.twig' %}
				{% endif %}
			</div><!-- /.row -->
		</div><!-- /.content -->
	</div><!-- /.container -->
{% endblock %}