{% extends 'FrontBundle::Layout/base.html.twig' %}

{% set title = category.getName() %}
	
{% block title %}{{ title }}{% endblock %}

{% set subtitle = listings|length ~ ' ' ~ 'listings available'|trans %}

{% block content %}
	<div class="container">
		{% include 'FrontBundle::Helper/content_title.html.twig' %}		

		<div class="content">			
			{% if listings|length %}
				<div class="row">
					{% for listing in listings %}
						<div class="col-md-4">
							{% include 'FrontBundle::Listing/box.html.twig' %}
						</div><!-- /.col-* -->
					{% endfor %}
				</div><!-- /.row -->
			{% else %}					
				{% include 'AppBundle::Helper/empty.html.twig' %}
			{% endif %}
		</div><!-- /.content -->
	</div><!-- /.container -->
{% endblock %}